In [2]:
import pandas as pd

# Input Excel file and sheet name
input_excel = "question.xlsx"  # Replace with your Excel file name
sheet_name = "Thai"  # Name of the sheet to read from
query_column = "Mysql correct query"  # Column name containing the SQL queries

# Output: List of SQL queries
queries = []

def read_queries_from_excel(excel_file, sheet_name, query_column):
    try:
        # Read the Excel file
        df = pd.read_excel(excel_file, sheet_name=sheet_name)

        # Extract the 'Mysql correct query' column
        if query_column in df.columns:
            queries.extend(df[query_column].dropna().tolist())  # Drop any NaN values and convert to list
        else:
            print(f"Column '{query_column}' not found in the sheet.")
        print("Queries loaded successfully.")
        return queries
    except Exception as e:
        print(f"An error occurred: {e}")
        return []

# Read the queries from the Excel file
queries = read_queries_from_excel(input_excel, sheet_name, query_column)

# Print the generated queries
for i, query in enumerate(queries, start=1):
    print(f"Query {i}: {query}")

Queries loaded successfully.
Query 1: SELECT totalAssets FROM financial_statements WHERE symbol = 'ADVANC' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 2: SELECT totalLiabilities FROM financial_statements WHERE symbol = 'AOT' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 3: SELECT netProfitQuarter FROM financial_statements WHERE symbol = 'BBL' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 4: SELECT roe FROM financial_statements WHERE symbol = 'BCP' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 5: SELECT de FROM financial_statements WHERE symbol = 'BDMS' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 6: SELECT totalRevenueQuarter FROM financial_statements WHERE symbol = 'BEM' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 7: SELECT netProfitQuarter FROM financial_statements WHERE symbol = 'BGRIM' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 8: SELECT netProfitMarginQuarter FROM financial_statements WHERE symbol = 'BH' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 9: SELECT totalRevenueQuarter FROM financial_statements WHERE symbol = 'BJC' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 10: SELECT totalExpensesQuarter FROM financial_statements WHERE symbol = 'BTS' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 11: SELECT totalAssets FROM financial_statements WHERE symbol = 'CBG' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 12: SELECT netProfitQuarter FROM financial_statements WHERE symbol = 'CENTEL' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 13: SELECT roa FROM financial_statements WHERE symbol = 'CPALL' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 14: SELECT totalExpensesQuarter FROM financial_statements WHERE symbol = 'CPF' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 15: SELECT de FROM financial_statements WHERE symbol = 'CPN' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 16: SELECT fixedAssetTurnover FROM financial_statements WHERE symbol = 'DELTA' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 17: SELECT totalRevenueQuarter FROM financial_statements WHERE symbol = 'EA' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 18: SELECT netProfitQuarter FROM financial_statements WHERE symbol = 'EGCO' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 19: SELECT totalRevenueQuarter FROM financial_statements WHERE symbol = 'GLOBAL' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 20: SELECT roe FROM financial_statements WHERE symbol = 'GPSC' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 21: SELECT totalLiabilities FROM financial_statements WHERE symbol = 'GULF' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 22: SELECT totalExpensesQuarter FROM financial_statements WHERE symbol = 'HMPRO' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 23: SELECT netProfitMarginQuarter FROM financial_statements WHERE symbol = 'INTUCH' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 24: SELECT netProfitQuarter FROM financial_statements WHERE symbol = 'IVL' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 25: SELECT totalAssets FROM financial_statements WHERE symbol = 'KBANK' AND year = 2019 AND quarter = 1 LIMIT 1;
Query 26: SELECT close FROM filteredEODData WHERE symbol = 'AWC' AND date = '2023-09-01' LIMIT 1;
Query 27: SELECT marketCap FROM filteredEODData WHERE symbol = 'AOT' AND date = '2023-09-01' LIMIT 1;
Query 28: SELECT pe FROM filteredEODData WHERE symbol = 'BDMS' AND date = '2023-09-01' LIMIT 1;
Query 29: SELECT dividendYield FROM filteredEODData WHERE symbol = 'BBL' AND date = '2023-09-01' LIMIT 1;
Query 30: SELECT totalVolume FROM filteredEODData WHERE symbol = 'BGRIM' AND date = '2023-09-01' LIMIT 1;
Query 31: SELECT close FROM filteredEODData WHERE symbol = 'BTS' AND date = '2023-09-01' LIMIT 1;
Query 32: SELECT marketCap FROM filteredEODData WHERE symbol = 'CPALL' AND date = '2023-09-01' LIMIT 1;
Query 33: SELECT pe FROM filteredEODData WHERE symbol = 'BEM' AND date = '2023-09-01' LIMIT 1;
Query 34: SELECT low FROM filteredEODData WHERE symbol = 'DELTA' AND date = '2023-09-01' LIMIT 1;
Query 35: SELECT pbv FROM filteredEODData WHERE symbol = 'BCP' AND date = '2023-09-01' LIMIT 1;
Query 36: SELECT marketCap FROM filteredEODData WHERE symbol = 'GPSC' AND date = '2023-09-01' LIMIT 1;
Query 37: SELECT close FROM filteredEODData WHERE symbol = 'TOP' AND date = '2023-09-01' LIMIT 1;
Query 38: SELECT totalVolume FROM filteredEODData WHERE symbol = 'LH' AND date = '2023-09-01' LIMIT 1;
Query 39: SELECT pbv FROM filteredEODData WHERE symbol = 'KTC' AND date = '2023-09-01' LIMIT 1;
Query 40: SELECT pe FROM filteredEODData WHERE symbol = 'PTTEP' AND date = '2023-09-01' LIMIT 1;
Query 41: SELECT dividendYield FROM filteredEODData WHERE symbol = 'SCC' AND date = '2023-09-01' LIMIT 1;
Query 42: SELECT marketCap FROM filteredEODData WHERE symbol = 'GULF' AND date = '2023-09-01' LIMIT 1;
Query 43: SELECT close FROM filteredEODData WHERE symbol = 'CENTEL' AND date = '2023-09-01' LIMIT 1;
Query 44: SELECT high FROM filteredEODData WHERE symbol = 'IVL' AND date = '2023-09-01' LIMIT 1;
Query 45: SELECT pbv FROM filteredEODData WHERE symbol = 'TIDLOR' AND date = '2023-09-01' LIMIT 1;
Query 46: SELECT close FROM filteredEODData WHERE symbol = 'ADVANC' AND date = '2023-09-01' LIMIT 1;
Query 47: SELECT marketCap FROM filteredEODData WHERE symbol = 'CBG' AND date = '2023-09-01' LIMIT 1;
Query 48: SELECT totalVolume FROM filteredEODData WHERE symbol = 'AOT' AND date = '2023-09-01' LIMIT 1;
Query 49: SELECT pe FROM filteredEODData WHERE symbol = 'CRC' AND date = '2023-09-01' LIMIT 1;
Query 50: SELECT close FROM filteredEODData WHERE symbol = 'PTT' AND date = '2023-09-01' LIMIT 1;
Query 51: SELECT symbol ,Quarter , totalAssets FROM financial_statements WHERE symbol IN ('ADVANC', 'AOT') AND year = 2019;
Query 52: SELECT symbol,Quarter , totalLiabilities FROM financial_statements WHERE symbol IN ('ADVANC', 'BBL') AND year = 2019;
Query 53: SELECT symbol, totalRevenueQuarter FROM financial_statements WHERE symbol IN ('ADVANC', 'CPALL') AND year = 2021 AND quarter = 3;
Query 54: SELECT symbol, totalExpensesQuarter FROM financial_statements WHERE symbol IN ('ADVANC', 'AOT') AND year = 2020 AND quarter = 2;
Query 55: SELECT year,Quarter, netProfitAccum FROM financial_statements WHERE symbol = 'ADVANC' AND year IN (2020, 2021);
Query 56: SELECT symbol, operatingCashFlow FROM financial_statements WHERE symbol IN ('ADVANC', 'BBL') AND year = 2021 AND quarter = 1;
Query 57: SELECT symbol,Quarter,roa FROM financial_statements WHERE symbol IN ('ADVANC', 'AOT') AND year = 2021;
Query 58: SELECT year,Quarter, roe FROM financial_statements WHERE symbol = 'ADVANC' AND year IN (2019, 2022);
Query 59: SELECT date, close FROM filteredEODData WHERE symbol = 'ADVANC' AND date IN ('2023-09-01', '2023-09-04');
Query 60: SELECT symbol, pe FROM filteredEODData WHERE symbol IN ('ADVANC', 'CPALL') AND date = '2023-09-01';
Query 61: SELECT symbol, marketCap FROM filteredEODData WHERE symbol IN ('ADVANC', 'AOT') AND date = '2023-09-01';
Query 62: SELECT symbol ,Quarter , totalAssets FROM financial_statements WHERE symbol IN ('BBL', 'AOT') AND year = 2020;
Query 63: SELECT quarter, investingCashFlow FROM financial_statements WHERE symbol = 'ADVANC' AND year = 2021 AND quarter IN (3, 4);
Query 64: SELECT symbol, epsQuarter FROM financial_statements WHERE symbol IN ('ADVANC', 'BBL') AND year = 2020 AND quarter = 1;
Query 65: SELECT symbol,Quarter, de FROM financial_statements WHERE symbol IN ('ADVANC', 'CPALL') AND year = 2020;
Query 66: SELECT year,Quarter, totalAssetTurnover FROM financial_statements WHERE symbol = 'ADVANC' AND year IN (2021, 2022);
Query 67: SELECT symbol,Quarter, fixedAssetTurnover FROM financial_statements WHERE symbol IN ('ADVANC', 'BBL') AND year = 2020;
Query 68: SELECT symbol, netProfitAccum FROM financial_statements WHERE symbol IN ('ADVANC', 'AOT') AND year = 2021 AND quarter = 4;
Query 69: SELECT symbol, totalvolume FROM filteredEODData WHERE symbol IN ('ADVANC', 'BBL') AND date = '2023-09-04';
Query 70: SELECT symbol, high FROM filteredEODData WHERE symbol IN ('ADVANC', 'CPALL') AND date = '2023-09-01';
Query 71: SELECT quarter, totalAssetTurnover FROM financial_statements WHERE symbol = 'ADVANC' AND year = 2021 AND quarter IN (2, 4);
Query 72: SELECT symbol, low FROM filteredEODData WHERE symbol IN ('AOT', 'BBL') AND date = '2023-09-01';
Query 73: SELECT symbol, close FROM filteredEODData WHERE symbol IN ('AOT', 'CPALL') AND date = '2023-09-04';
Query 74: SELECT symbol, marketCap FROM filteredEODData WHERE symbol IN ('CPALL', 'ADVANC') AND date = '2023-09-04';
Query 75: SELECT symbol, quarter, fixedAssetTurnover FROM financial_statements WHERE symbol IN ('CPALL', 'AOT') AND year = 2021;
Query 76: SELECT year, totalRevenueAccum FROM financial_statements WHERE symbol = 'ADVANC' AND Quarter = 4 AND year BETWEEN 2019 AND 2021;
Query 77: SELECT year, totalAssets FROM financial_statements WHERE symbol = 'AOT' AND Quarter = 4 AND year BETWEEN 2019 AND 2021;
Query 78: SELECT year, netProfitAccum FROM financial_statements WHERE symbol = 'BBL'  AND Quarter = 4 AND year BETWEEN 2019 AND 2021;
Query 79: SELECT quarter, epsQuarter FROM financial_statements WHERE symbol = 'BDMS' AND year = 2019;
Query 80: SELECT year,Quarter, operatingCashFlow FROM financial_statements WHERE symbol = 'BGRIM' AND year BETWEEN 2019 AND 2021;
Query 81: SELECT quarter, epsQuarter FROM financial_statements WHERE symbol = 'BH' AND year = 2019;
Query 82: SELECT quarter, totalExpensesQuarter FROM financial_statements WHERE symbol = 'BCP' AND year = 2019;
Query 83: SELECT year,quarter, totalAssetTurnover FROM financial_statements WHERE symbol = 'BTS';
Query 84: SELECT year, netProfitAccum FROM financial_statements WHERE symbol = 'CPN'  AND Quarter = 4  AND year BETWEEN 2019 AND 2021;
Query 85: SELECT year, totalRevenueQuarter FROM financial_statements WHERE symbol = 'EA' AND Quarter = 4  AND year BETWEEN 2019 AND 2021;
Query 86: SELECT quarter, de FROM financial_statements WHERE symbol = 'ADVANC' AND year = 2019;
Query 87: SELECT year,Quarter, roe FROM financial_statements WHERE symbol = 'BDMS' AND year BETWEEN 2019 AND 2021;
Query 88: SELECT quarter, totalAssetTurnover FROM financial_statements WHERE symbol = 'BTS' AND year = 2019;
Query 89: SELECT quarter, roa FROM financial_statements WHERE symbol = 'BCP' AND year = 2019;
Query 90: SELECT symbol, date,PE FROM filteredEODData WHERE symbol = 'ADVANC'
AND YEAR(date) = 202 AND (date = (SELECT MIN(date) FROM filteredEODData WHERE symbol = 'ADVANC' AND YEAR(date) = 2023) OR date = (SELECT MAX(date) FROM filteredEODData WHERE symbol = 'ADVANC' AND YEAR(date) = 2023)) ORDER BY date;
Query 91: SELECT year, de FROM financial_statements WHERE symbol = 'AOT' AND Quarter = 4  AND year BETWEEN 2019 AND 2021;
Query 92: SELECT quarter, roa FROM financial_statements WHERE symbol = 'BBL' AND year = 2019;
Query 93: SELECT year, de FROM financial_statements WHERE symbol = 'CPF' AND Quarter = 4 ;
Query 94: SELECT year, roe FROM financial_statements WHERE symbol = 'BDMS' AND Quarter = 4  AND year BETWEEN 2019 AND 2021;
Query 95: SELECT quarter, roe FROM financial_statements WHERE symbol = 'BTS' AND year = 2019;
Query 96: SELECT year, fixedAssetTurnover FROM financial_statements WHERE symbol = 'BCP' AND Quarter = 4 ;
Query 97: SELECT symbol, date, PE FROM filteredEODData WHERE symbol = 'BTS' AND (date = (SELECT MIN(date) FROM filteredEODData WHERE symbol = 'BTS') OR date = (SELECT MAX(date) FROM filteredEODData WHERE symbol = 'BTS')) ORDER BY date;
Query 98: SELECT year, roe FROM financial_statements WHERE symbol = 'AOT' AND Quarter = 4 ;
Query 99: SELECT year, de FROM financial_statements WHERE symbol = 'BEM' AND Quarter = 4 ;
Query 100: SELECT quarter, roa FROM financial_statements WHERE symbol = 'CPF' AND year = 2019;

In [3]:
queries

["SELECT totalAssets FROM financial_statements WHERE symbol = 'ADVANC' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT totalLiabilities FROM financial_statements WHERE symbol = 'AOT' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT netProfitQuarter FROM financial_statements WHERE symbol = 'BBL' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT roe FROM financial_statements WHERE symbol = 'BCP' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT de FROM financial_statements WHERE symbol = 'BDMS' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT totalRevenueQuarter FROM financial_statements WHERE symbol = 'BEM' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT netProfitQuarter FROM financial_statements WHERE symbol = 'BGRIM' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT netProfitMarginQuarter FROM financial_statements WHERE symbol = 'BH' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT totalRevenueQuarter FROM financial_statements WHERE symbol = 'BJC' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT totalExpensesQuarter FROM financial_statements WHERE symbol = 'BTS' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT totalAssets FROM financial_statements WHERE symbol = 'CBG' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT netProfitQuarter FROM financial_statements WHERE symbol = 'CENTEL' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT roa FROM financial_statements WHERE symbol = 'CPALL' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT totalExpensesQuarter FROM financial_statements WHERE symbol = 'CPF' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT de FROM financial_statements WHERE symbol = 'CPN' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT fixedAssetTurnover FROM financial_statements WHERE symbol = 'DELTA' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT totalRevenueQuarter FROM financial_statements WHERE symbol = 'EA' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT netProfitQuarter FROM financial_statements WHERE symbol = 'EGCO' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT totalRevenueQuarter FROM financial_statements WHERE symbol = 'GLOBAL' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT roe FROM financial_statements WHERE symbol = 'GPSC' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT totalLiabilities FROM financial_statements WHERE symbol = 'GULF' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT totalExpensesQuarter FROM financial_statements WHERE symbol = 'HMPRO' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT netProfitMarginQuarter FROM financial_statements WHERE symbol = 'INTUCH' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT netProfitQuarter FROM financial_statements WHERE symbol = 'IVL' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT totalAssets FROM financial_statements WHERE symbol = 'KBANK' AND year = 2019 AND quarter = 1 LIMIT 1;",
 "SELECT close FROM filteredEODData WHERE symbol = 'AWC' AND date = '2023-09-01' LIMIT 1;",
 "SELECT marketCap FROM filteredEODData WHERE symbol = 'AOT' AND date = '2023-09-01' LIMIT 1;",
 "SELECT pe FROM filteredEODData WHERE symbol = 'BDMS' AND date = '2023-09-01' LIMIT 1;",
 "SELECT dividendYield FROM filteredEODData WHERE symbol = 'BBL' AND date = '2023-09-01' LIMIT 1;",
 "SELECT totalVolume FROM filteredEODData WHERE symbol = 'BGRIM' AND date = '2023-09-01' LIMIT 1;",
 "SELECT close FROM filteredEODData WHERE symbol = 'BTS' AND date = '2023-09-01' LIMIT 1;",
 "SELECT marketCap FROM filteredEODData WHERE symbol = 'CPALL' AND date = '2023-09-01' LIMIT 1;",
 "SELECT pe FROM filteredEODData WHERE symbol = 'BEM' AND date = '2023-09-01' LIMIT 1;",
 "SELECT low FROM filteredEODData WHERE symbol = 'DELTA' AND date = '2023-09-01' LIMIT 1;",
 "SELECT pbv FROM filteredEODData WHERE symbol = 'BCP' AND date = '2023-09-01' LIMIT 1;",
 "SELECT marketCap FROM filteredEODData WHERE symbol = 'GPSC' AND date = '2023-09-01' LIMIT 1;",
 "SELECT close FROM filteredEODData WHERE symbol = 'TOP' AND date = '2023-09-01' LIMIT 1;",
 "SELECT totalVolume FROM filteredEODData WHERE symbol = 'LH' AND date = '2023-09-01' LIMIT 1;",
 "SELECT pbv FROM filteredEODData WHERE symbol = 'KTC' AND date = '2023-09-01' LIMIT 1;",
 "SELECT pe FROM filteredEODData WHERE symbol = 'PTTEP' AND date = '2023-09-01' LIMIT 1;",
 "SELECT dividendYield FROM filteredEODData WHERE symbol = 'SCC' AND date = '2023-09-01' LIMIT 1;",
 "SELECT marketCap FROM filteredEODData WHERE symbol = 'GULF' AND date = '2023-09-01' LIMIT 1;",
 "SELECT close FROM filteredEODData WHERE symbol = 'CENTEL' AND date = '2023-09-01' LIMIT 1;",
 "SELECT high FROM filteredEODData WHERE symbol = 'IVL' AND date = '2023-09-01' LIMIT 1;",
 "SELECT pbv FROM filteredEODData WHERE symbol = 'TIDLOR' AND date = '2023-09-01' LIMIT 1;",
 "SELECT close FROM filteredEODData WHERE symbol = 'ADVANC' AND date = '2023-09-01' LIMIT 1;",
 "SELECT marketCap FROM filteredEODData WHERE symbol = 'CBG' AND date = '2023-09-01' LIMIT 1;",
 "SELECT totalVolume FROM filteredEODData WHERE symbol = 'AOT' AND date = '2023-09-01' LIMIT 1;",
 "SELECT pe FROM filteredEODData WHERE symbol = 'CRC' AND date = '2023-09-01' LIMIT 1;",
 "SELECT close FROM filteredEODData WHERE symbol = 'PTT' AND date = '2023-09-01' LIMIT 1;",
 "SELECT symbol ,Quarter , totalAssets FROM financial_statements WHERE symbol IN ('ADVANC', 'AOT') AND year = 2019;",
 "SELECT symbol,Quarter , totalLiabilities FROM financial_statements WHERE symbol IN ('ADVANC', 'BBL') AND year = 2019;",
 "SELECT symbol, totalRevenueQuarter FROM financial_statements WHERE symbol IN ('ADVANC', 'CPALL') AND year = 2021 AND quarter = 3;",
 "SELECT symbol, totalExpensesQuarter FROM financial_statements WHERE symbol IN ('ADVANC', 'AOT') AND year = 2020 AND quarter = 2;",
 "SELECT year,Quarter, netProfitAccum FROM financial_statements WHERE symbol = 'ADVANC' AND year IN (2020, 2021);",
 "SELECT symbol, operatingCashFlow FROM financial_statements WHERE symbol IN ('ADVANC', 'BBL') AND year = 2021 AND quarter = 1;",
 "SELECT symbol,Quarter,roa FROM financial_statements WHERE symbol IN ('ADVANC', 'AOT') AND year = 2021;",
 "SELECT year,Quarter, roe FROM financial_statements WHERE symbol = 'ADVANC' AND year IN (2019, 2022);",
 "SELECT date, close FROM filteredEODData WHERE symbol = 'ADVANC' AND date IN ('2023-09-01', '2023-09-04');",
 "SELECT symbol, pe FROM filteredEODData WHERE symbol IN ('ADVANC', 'CPALL') AND date = '2023-09-01';",
 "SELECT symbol, marketCap FROM filteredEODData WHERE symbol IN ('ADVANC', 'AOT') AND date = '2023-09-01';",
 "SELECT symbol ,Quarter , totalAssets FROM financial_statements WHERE symbol IN ('BBL', 'AOT') AND year = 2020;",
 "SELECT quarter, investingCashFlow FROM financial_statements WHERE symbol = 'ADVANC' AND year = 2021 AND quarter IN (3, 4);",
 "SELECT symbol, epsQuarter FROM financial_statements WHERE symbol IN ('ADVANC', 'BBL') AND year = 2020 AND quarter = 1;",
 "SELECT symbol,Quarter, de FROM financial_statements WHERE symbol IN ('ADVANC', 'CPALL') AND year = 2020;",
 "SELECT year,Quarter, totalAssetTurnover FROM financial_statements WHERE symbol = 'ADVANC' AND year IN (2021, 2022);",
 "SELECT symbol,Quarter, fixedAssetTurnover FROM financial_statements WHERE symbol IN ('ADVANC', 'BBL') AND year = 2020;",
 "SELECT symbol, netProfitAccum FROM financial_statements WHERE symbol IN ('ADVANC', 'AOT') AND year = 2021 AND quarter = 4;",
 "SELECT symbol, totalvolume FROM filteredEODData WHERE symbol IN ('ADVANC', 'BBL') AND date = '2023-09-04';",
 "SELECT symbol, high FROM filteredEODData WHERE symbol IN ('ADVANC', 'CPALL') AND date = '2023-09-01';",
 "SELECT quarter, totalAssetTurnover FROM financial_statements WHERE symbol = 'ADVANC' AND year = 2021 AND quarter IN (2, 4);",
 "SELECT symbol, low FROM filteredEODData WHERE symbol IN ('AOT', 'BBL') AND date = '2023-09-01';",
 "SELECT symbol, close FROM filteredEODData WHERE symbol IN ('AOT', 'CPALL') AND date = '2023-09-04';",
 "SELECT symbol, marketCap FROM filteredEODData WHERE symbol IN ('CPALL', 'ADVANC') AND date = '2023-09-04';",
 "SELECT symbol, quarter, fixedAssetTurnover FROM financial_statements WHERE symbol IN ('CPALL', 'AOT') AND year = 2021;",
 "SELECT year, totalRevenueAccum FROM financial_statements WHERE symbol = 'ADVANC' AND Quarter = 4 AND year BETWEEN 2019 AND 2021;",
 "SELECT year, totalAssets FROM financial_statements WHERE symbol = 'AOT' AND Quarter = 4 AND year BETWEEN 2019 AND 2021;",
 "SELECT year, netProfitAccum FROM financial_statements WHERE symbol = 'BBL'  AND Quarter = 4 AND year BETWEEN 2019 AND 2021;",
 "SELECT quarter, epsQuarter FROM financial_statements WHERE symbol = 'BDMS' AND year = 2019;",
 "SELECT year,Quarter, operatingCashFlow FROM financial_statements WHERE symbol = 'BGRIM' AND year BETWEEN 2019 AND 2021;",
 "SELECT quarter, epsQuarter FROM financial_statements WHERE symbol = 'BH' AND year = 2019;",
 "SELECT quarter, totalExpensesQuarter FROM financial_statements WHERE symbol = 'BCP' AND year = 2019;",
 "SELECT year,quarter, totalAssetTurnover FROM financial_statements WHERE symbol = 'BTS';",
 "SELECT year, netProfitAccum FROM financial_statements WHERE symbol = 'CPN'  AND Quarter = 4  AND year BETWEEN 2019 AND 2021;",
 "SELECT year, totalRevenueQuarter FROM financial_statements WHERE symbol = 'EA' AND Quarter = 4  AND year BETWEEN 2019 AND 2021;",
 "SELECT quarter, de FROM financial_statements WHERE symbol = 'ADVANC' AND year = 2019;",
 "SELECT year,Quarter, roe FROM financial_statements WHERE symbol = 'BDMS' AND year BETWEEN 2019 AND 2021;",
 "SELECT quarter, totalAssetTurnover FROM financial_statements WHERE symbol = 'BTS' AND year = 2019;",
 "SELECT quarter, roa FROM financial_statements WHERE symbol = 'BCP' AND year = 2019;",
 "SELECT symbol, date,PE FROM filteredEODData WHERE symbol = 'ADVANC'\nAND YEAR(date) = 202 AND (date = (SELECT MIN(date) FROM filteredEODData WHERE symbol = 'ADVANC' AND YEAR(date) = 2023) OR date = (SELECT MAX(date) FROM filteredEODData WHERE symbol = 'ADVANC' AND YEAR(date) = 2023)) ORDER BY date;",
 "SELECT year, de FROM financial_statements WHERE symbol = 'AOT' AND Quarter = 4  AND year BETWEEN 2019 AND 2021;",
 "SELECT quarter, roa FROM financial_statements WHERE symbol = 'BBL' AND year = 2019;",
 "SELECT year, de FROM financial_statements WHERE symbol = 'CPF' AND Quarter = 4 ;",
 "SELECT year, roe FROM financial_statements WHERE symbol = 'BDMS' AND Quarter = 4  AND year BETWEEN 2019 AND 2021;",
 "SELECT quarter, roe FROM financial_statements WHERE symbol = 'BTS' AND year = 2019;",
 "SELECT year, fixedAssetTurnover FROM financial_statements WHERE symbol = 'BCP' AND Quarter = 4 ;",
 "SELECT symbol, date, PE FROM filteredEODData WHERE symbol = 'BTS' AND (date = (SELECT MIN(date) FROM filteredEODData WHERE symbol = 'BTS') OR date = (SELECT MAX(date) FROM filteredEODData WHERE symbol = 'BTS')) ORDER BY date;",
 "SELECT year, roe FROM financial_statements WHERE symbol = 'AOT' AND Quarter = 4 ;",
 "SELECT year, de FROM financial_statements WHERE symbol = 'BEM' AND Quarter = 4 ;",
 "SELECT quarter, roa FROM financial_statements WHERE symbol = 'CPF' AND year = 2019;"]

In [4]:

len(queries)

100

In [ ]:
import time
import psutil
import os
import json
import mysql.connector
import csv
from decimal import Decimal
from datetime import date, datetime

# MySQL connection setup
connection = mysql.connector.connect(
    host="localhost",
    user="root",  # Replace with your MySQL username
    password="Wealth3visual%",  # Replace with your MySQL password
    database="financials"  # Replace with your database name
)
cursor = connection.cursor(dictionary=True)

# Output file
output_csv = "query_results_with_metrics_mysql.csv"
repetitions = 10  # Number of times to execute each query for averaging

# Function to monitor RAM usage
def get_ram_usage():
    process = psutil.Process(os.getpid())
    return process.memory_info().rss / (1024 ** 2)  # Convert bytes to MB

# Function to convert result to JSON-serializable format
def convert_to_serializable(data):
    if isinstance(data, dict):
        return {k: (float(v) if isinstance(v, Decimal) else str(v) if isinstance(v, (date, datetime)) else v) 
                for k, v in data.items()}
    # Handle cases where the result is a list or other data structure
    elif isinstance(data, (list, tuple)):
        return [convert_to_serializable(item) for item in data]
    return data

# Function to measure query execution time with averaging
def measure_query_time(query, repetitions):
    total_time = 0
    for _ in range(repetitions):
        start_time = time.time()
        cursor.execute(query)
        cursor.fetchall()  # Fetch all results to ensure the query completes
        end_time = time.time()
        total_time += (end_time - start_time)
    return total_time / repetitions

# Function to run queries and save results
def run_queries_and_export_with_metrics(queries, output_csv):
    try:
        # List to store results
        all_results = []

        for index, query in enumerate(queries):
            # Measure RAM before execution
            start_ram = get_ram_usage()

            # Measure execution time with averaging
            avg_execution_time = measure_query_time(query, repetitions)

            # Get the actual query result (run once)
            cursor.execute(query)
            result = cursor.fetchone()

            # Ensure we consume any leftover results
            cursor.fetchall()  # This ensures that the cursor is fully consumed

            # Measure RAM after execution
            end_ram = get_ram_usage()

            # Calculate RAM usage
            ram_usage = end_ram - start_ram

            # Prepare row data
            row = {
                "query_index": index + 1,
                "query": query,
                "result": json.dumps(convert_to_serializable(result)) if result else "NULL",
                "time": avg_execution_time,  # Average time in seconds
                "ram": ram_usage  # RAM usage in MB
            }
            all_results.append(row)

        # Write results to CSV
        if all_results:
            with open(output_csv, mode="w", encoding="utf-8-sig", newline="") as file:
                writer = csv.DictWriter(file, fieldnames=all_results[0].keys())
                writer.writeheader()
                writer.writerows(all_results)

        print(f"Results with metrics exported to {output_csv}")
    except Exception as e:
        print(f"An error occurred: {e}")
    finally:
        cursor.close()
        connection.close()


# Execute the function
run_queries_and_export_with_metrics(queries, output_csv)

Results with metrics exported to query_results_with_metrics.csv