In [ ]:
import pandas as pd

# Input Excel file and sheet name
input_excel = "question.xlsx"  # Replace with your Excel file name
sheet_name = "Eng"  # Name of the sheet to read from
query_column = "Mysql correct query"  # Column name containing the SQL queries

# Output: List of SQL queries
queries = []

def read_queries_from_excel(excel_file, sheet_name, query_column):
    try:
        # Read the Excel file
        df = pd.read_excel(excel_file, sheet_name=sheet_name)

        # Extract the 'Mysql correct query' column
        if query_column in df.columns:
            queries.extend(df[query_column].dropna().tolist())  # Drop any NaN values and convert to list
        else:
            print(f"Column '{query_column}' not found in the sheet.")
        print("Queries loaded successfully.")
        return queries
    except Exception as e:
        print(f"An error occurred: {e}")
        return []

# Read the queries from the Excel file
queries = read_queries_from_excel(input_excel, sheet_name, query_column)

# Print the generated queries
for i, query in enumerate(queries, start=1):
    print(f"Query {i}: {query}")

Queries loaded successfully.
Query 1: SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 2: SELECT total_liabilities FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 3: SELECT net_profit_quarter FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'BBL') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 4: SELECT value FROM financialratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'BCP') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1) AND type = 'ROE';
Query 5: SELECT value FROM financialratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'BDMS') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1) AND type = 'DE';
Query 6: SELECT total_revenue_quarter FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'BEM') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 7: SELECT net_profit_quarter FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'BGRIM') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 8: SELECT value FROM financialratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'BH') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1) AND type = 'netProfitMarginQuarter';
Query 9: SELECT total_revenue_quarter FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'BJC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 10: SELECT total_expenses_quarter FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'BTS') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 11: SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'CBG') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 12: SELECT net_profit_quarter FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'CENTEL') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 13: SELECT value FROM financialratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'CPALL') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1) AND type = 'ROA';
Query 14: SELECT total_expenses_quarter FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'CPF') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 15: SELECT value FROM financialratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'CPN') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1) AND type = 'DE';
Query 16: SELECT value FROM financialratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'DELTA') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1) AND type = 'fixedAssetTurnover';
Query 17: SELECT total_revenue_quarter FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'EA') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 18: SELECT net_profit_quarter FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'EGCO') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 19: SELECT total_revenue_quarter FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'GLOBAL') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 20: SELECT value FROM financialratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'GPSC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1) AND type = 'ROE';
Query 21: SELECT total_liabilities FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'GULF') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 22: SELECT total_expenses_quarter FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'HMPRO') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 23: SELECT value FROM financialratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'INTUCH') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1) AND type = 'netProfitMarginQuarter';
Query 24: SELECT net_profit_quarter FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'IVL') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 25: SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'KBANK') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);
Query 26: SELECT close FROM marketdata WHERE company_id = (SELECT id FROM company WHERE symbol = 'AWC') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01');
Query 27: SELECT value FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01') AND type = 'MarketCap';
Query 28: SELECT value FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'BDMS') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01') AND type = 'PE';
Query 29: SELECT value FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'BBL') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01') AND type = 'DividendYield';
Query 30: SELECT tr_volume FROM marketdata WHERE company_id = (SELECT id FROM company WHERE symbol = 'BGRIM') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01');
Query 31: SELECT close FROM marketdata WHERE company_id = (SELECT id FROM company WHERE symbol = 'BTS') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01');
Query 32: SELECT value FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'CPALL') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01') AND type = 'MarketCap';
Query 33: SELECT value FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'BEM') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01') AND type = 'PE';
Query 34: SELECT low FROM marketdata WHERE company_id = (SELECT id FROM company WHERE symbol = 'DELTA') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01');
Query 35: SELECT value FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'BCP') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01') AND type = 'PBV';
Query 36: SELECT value FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'GPSC') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01') AND type = 'MarketCap';
Query 37: SELECT close FROM marketdata WHERE company_id = (SELECT id FROM company WHERE symbol = 'TOP') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01');
Query 38: SELECT tr_volume FROM marketdata WHERE company_id = (SELECT id FROM company WHERE symbol = 'LH') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01');
Query 39: SELECT value FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'KTC') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01') AND type = 'PBV';
Query 40: SELECT value FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'PTTEP') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01') AND type = 'PE';
Query 41: SELECT value FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'SCC') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01') AND type = 'DividendYield';
Query 42: SELECT value FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'GULF') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01') AND type = 'MarketCap';
Query 43: SELECT close FROM marketdata WHERE company_id = (SELECT id FROM company WHERE symbol = 'CENTEL') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01');
Query 44: SELECT high FROM marketdata WHERE company_id = (SELECT id FROM company WHERE symbol = 'IVL') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01');
Query 45: SELECT value FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'TIDLOR') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01') AND type = 'PBV';
Query 46: SELECT close FROM marketdata WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01');
Query 47: SELECT value FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'CBG') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01') AND type = 'MarketCap';
Query 48: SELECT tr_volume FROM marketdata WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01');
Query 49: SELECT value FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'CRC') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01') AND type = 'PE';
Query 50: SELECT close FROM marketdata WHERE company_id = (SELECT id FROM company WHERE symbol = 'PTT') AND period_id = (SELECT id FROM period WHERE date = '2023-09-01');
Query 51: SELECT c.symbol, f.total_assets FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year = 2019 AND c.symbol IN ('ADVANC', 'AOT');
Query 52: SELECT c.symbol, f.total_liabilities FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year = 2019 AND c.symbol IN ('ADVANC', 'BBL');
Query 53: SELECT c.symbol, f.total_revenue_quarter FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year = 2021 AND p.quarter = 3 AND c.symbol IN ('ADVANC', 'CPALL');
Query 54: SELECT c.symbol, f.total_expenses_quarter FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year = 2020 AND p.quarter = 2 AND c.symbol IN ('ADVANC', 'AOT');
Query 55: SELECT p.year, SUM(f.net_profit_quarter) AS cumulative_net_profit FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year IN (2020, 2021) AND c.symbol = 'ADVANC' GROUP BY p.year;
Query 56: SELECT c.symbol, f.operating_cash_flow FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year = 2021 AND p.quarter = 1 AND c.symbol IN ('ADVANC', 'BBL');
Query 57: SELECT c.symbol, p.quarter, r.value FROM financialratios r JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE p.year = 2021 AND c.symbol IN ('ADVANC', 'AOT') AND r.type = 'ROA';
Query 58: SELECT p.year, r.value AS roe FROM financialratios r JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE p.year IN (2019, 2022) AND c.symbol = 'ADVANC' AND r.type = 'ROE';
Query 59: SELECT p.date, m.close FROM marketdata m JOIN company c ON m.company_id = c.id JOIN period p ON m.period_id = p.id WHERE p.date IN ('2023-09-01', '2023-09-04') AND c.symbol = 'ADVANC';
Query 60: SELECT c.symbol, m.value FROM marketratios m JOIN company c ON m.company_id = c.id JOIN period p ON m.period_id = p.id WHERE p.date = '2023-09-01' AND c.symbol IN ('ADVANC', 'CPALL') AND m.type = 'PE';
Query 61: SELECT c.symbol, m.value AS market_cap FROM marketratios m JOIN company c ON m.company_id = c.id JOIN period p ON m.period_id = p.id WHERE p.date = '2023-09-01' AND c.symbol IN ('ADVANC', 'AOT') AND m.type = 'MarketCap';
Query 62: SELECT c.symbol, f.total_assets FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year = 2020 AND c.symbol IN ('BBL', 'AOT');
Query 63: SELECT p.quarter, f.investing_cash_flow FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year = 2021 AND p.quarter IN (3,4) AND c.symbol = 'ADVANC';
Query 64: SELECT c.symbol, f.eps_quarter FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year = 2020 AND p.quarter = 1 AND c.symbol IN ('ADVANC', 'BBL');
Query 65: SELECT c.symbol, r.value AS de_ratio FROM financialratios r JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE p.year = 2020 AND c.symbol IN ('ADVANC', 'CPALL') AND r.type = 'DE';
Query 66: SELECT p.year, r.value FROM financialratios r JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE p.year IN (2021, 2022) AND c.symbol = 'ADVANC' AND r.type = 'TotalAssetTurnover';
Query 67: SELECT c.symbol, r.value AS fixed_asset_turnover FROM financialratios r JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE p.year = 2020 AND c.symbol IN ('ADVANC', 'BBL') AND r.type = 'FixedAssetTurnover';
Query 68: SELECT c.symbol, p.quarter, f.net_profit_quarter FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year = 2021 AND p.quarter = 4 AND c.symbol IN ('ADVANC', 'AOT');
Query 69: SELECT c.symbol, m.tr_volume FROM marketdata m JOIN company c ON m.company_id = c.id JOIN period p ON m.period_id = p.id WHERE p.date = '2023-09-04' AND c.symbol IN ('ADVANC', 'BBL');
Query 70: SELECT c.symbol, m.high FROM marketdata m JOIN company c ON m.company_id = c.id JOIN period p ON m.period_id = p.id WHERE p.date = '2023-09-01' AND c.symbol IN ('ADVANC', 'CPALL');
Query 71: SELECT p.quarter, r.value FROM financialratios r JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE p.year = 2021 AND p.quarter IN (2,4) AND c.symbol = 'ADVANC' AND r.type = 'TotalAssetTurnover';
Query 72: SELECT c.symbol, m.low FROM marketdata m JOIN company c ON m.company_id = c.id JOIN period p ON m.period_id = p.id WHERE p.date = '2023-09-01' AND c.symbol IN ('AOT', 'BBL');
Query 73: SELECT c.symbol, m.close FROM marketdata m JOIN company c ON m.company_id = c.id JOIN period p ON m.period_id = p.id WHERE p.date = '2023-09-04' AND c.symbol IN ('AOT', 'CPALL');
Query 74: SELECT c.symbol, m.value AS market_cap FROM marketratios m JOIN company c ON m.company_id = c.id JOIN period p ON m.period_id = p.id WHERE p.date = '2023-09-04' AND c.symbol IN ('CPALL', 'ADVANC') AND m.type = 'MarketCap';
Query 75: SELECT c.symbol, r.value AS fixed_asset_turnover FROM financialratios r JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE p.year = 2021 AND c.symbol IN ('CPALL', 'AOT') AND r.type = 'FixedAssetTurnover';
Query 76: SELECT p.year, SUM(f.total_revenue_quarter) AS total_revenue FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year BETWEEN 2019 AND 2021 AND c.symbol = 'ADVANC' GROUP BY p.year ORDER BY p.year;
Query 77: SELECT p.year, f.total_assets FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year BETWEEN 2019 AND 2021 AND c.symbol = 'AOT' ORDER BY p.year;
Query 78: SELECT p.year, SUM(f.net_profit_quarter) AS cumulative_net_profit FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year BETWEEN 2019 AND 2021 AND c.symbol = 'BBL' GROUP BY p.year ORDER BY p.year;
Query 79: SELECT p.quarter, f.eps_quarter FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year = 2019 AND c.symbol = 'BDMS' ORDER BY p.quarter;
Query 80: SELECT p.year, SUM(f.operating_cash_flow) AS operating_cash_flow FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year BETWEEN 2019 AND 2021 AND c.symbol = 'BGRIM' GROUP BY p.year ORDER BY p.year;
Query 81: SELECT p.quarter, f.eps_quarter FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year = 2019 AND c.symbol = 'BH' ORDER BY p.quarter;
Query 82: SELECT p.quarter, f.total_expenses_quarter FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year = 2019 AND c.symbol = 'BCP' ORDER BY p.quarter;
Query 83: SELECT p.year, p.quarter, r.value AS total_asset_turnover FROM financialratios r JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE c.symbol = 'BTS' AND r.type = 'TotalAssetTurnover' ORDER BY p.year, p.quarter;
Query 84: SELECT p.year, SUM(f.net_profit_quarter) AS cumulative_net_profit FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year BETWEEN 2019 AND 2021 AND c.symbol = 'CPN' GROUP BY p.year ORDER BY p.year;
Query 85: SELECT p.year, SUM(f.total_revenue_quarter) AS total_revenue FROM financialmetrics f JOIN company c ON f.company_id = c.id JOIN period p ON f.period_id = p.id WHERE p.year BETWEEN 2019 AND 2021 AND c.symbol = 'EA' GROUP BY p.year ORDER BY p.year;
Query 86: SELECT p.quarter, r.value AS de_ratio FROM financialratios r JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE c.symbol = 'ADVANC' AND r.type = 'DE' AND p.year = 2019 ORDER BY p.quarter;
Query 87: SELECT p.year, r.value AS ROE, f.net_profit_quarter FROM financialratios r JOIN financialmetrics f ON r.company_id = f.company_id AND r.period_id = f.period_id JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE c.symbol = 'BDMS' AND r.type = 'ROE' ORDER BY p.year;
Query 88: SELECT p.year, p.quarter, r.value AS total_asset_turnover, f.net_profit_quarter FROM financialratios r JOIN financialmetrics f ON r.company_id = f.company_id AND r.period_id = f.period_id JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE c.symbol = 'BTS' AND r.type = 'TotalAssetTurnover' AND p.year = 2019 ORDER BY p.quarter;
Query 89: SELECT p.year, r.value AS ROA FROM financialratios r JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE c.symbol = 'BCP' AND r.type = 'ROA' AND p.year = 2019 ORDER BY p.year;
Query 90: SELECT p.year, p.quarter, m.value AS PE, r.value AS MarketCap FROM marketratios m JOIN marketratios r ON m.company_id = r.company_id AND m.period_id = r.period_id JOIN company c ON m.company_id = c.id JOIN period p ON m.period_id = p.id WHERE c.symbol = 'ADVANC' AND m.type = 'PE' AND r.type = 'MarketCap' AND p.year = 2019 ORDER BY p.quarter;
Query 91: SELECT p.year, r.value AS de_ratio FROM financialratios r JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE c.symbol = 'AOT' AND r.type = 'DE' AND p.year BETWEEN 2019 AND 2021 ORDER BY p.year;
Query 92: SELECT p.year, p.quarter, r.value AS ROA FROM financialratios r JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE c.symbol = 'BBL' AND r.type = 'ROA' AND p.year = 2019 ORDER BY p.quarter;
Query 93: SELECT p.year, r.value AS de_ratio FROM financialratios r JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE c.symbol = 'CPF' AND r.type = 'DE' ORDER BY p.year;
Query 94: SELECT p.year, r.value AS ROE FROM financialratios r JOIN company c ON r.company_id = c.id JOIN period p ON r.period_id = p.id WHERE c.symbol = 'BDMS' AND r.type = 'ROE' AND p.year BETWEEN 2019 AND 2021 ORDER BY p.year;

In [1]:
queries

NameError: name 'queries' is not defined

In [ ]:

len(queries)

100

In [ ]:
import time
import psutil
import os
import json
import mysql.connector
import csv
from decimal import Decimal
from datetime import date, datetime

# MySQL connection setup
connection = mysql.connector.connect(
    host="localhost",
    user="root",  # Replace with your MySQL username
    password="Wealth3visual%",  # Replace with your MySQL password
    database="set50"  # Replace with your database name
)
cursor = connection.cursor(dictionary=True)

# Output file
output_csv = "query_results_with_metrics_mysql.csv"
repetitions = 10  # Number of times to execute each query for averaging

# Function to monitor RAM usage
def get_ram_usage():
    process = psutil.Process(os.getpid())
    return process.memory_info().rss / (1024 ** 2)  # Convert bytes to MB

# Function to convert result to JSON-serializable format
def convert_to_serializable(data):
    if isinstance(data, dict):
        return {k: (float(v) if isinstance(v, Decimal) else str(v) if isinstance(v, (date, datetime)) else v) 
                for k, v in data.items()}
    # Handle cases where the result is a list or other data structure
    elif isinstance(data, (list, tuple)):
        return [convert_to_serializable(item) for item in data]
    return data

# Function to measure query execution time with averaging
def measure_query_time(query, repetitions):
    total_time = 0
    for _ in range(repetitions):
        start_time = time.time()
        cursor.execute(query)
        cursor.fetchall()  # Fetch all results to ensure the query completes
        end_time = time.time()
        total_time += (end_time - start_time)
    return total_time / repetitions

# Function to run queries and save results
def run_queries_and_export_with_metrics(queries, output_csv):
    try:
        # List to store results
        all_results = []

        for index, query in enumerate(queries):
            # Measure RAM before execution
            start_ram = get_ram_usage()

            # Measure execution time with averaging
            avg_execution_time = measure_query_time(query, repetitions)

            # Get the actual query result (run once)
            cursor.execute(query)
            result = cursor.fetchone()

            # Ensure we consume any leftover results
            cursor.fetchall()  # This ensures that the cursor is fully consumed

            # Measure RAM after execution
            end_ram = get_ram_usage()

            # Calculate RAM usage
            ram_usage = end_ram - start_ram

            # Prepare row data
            row = {
                "query_index": index + 1,
                "query": query,
                "result": json.dumps(convert_to_serializable(result)) if result else "NULL",
                "time": avg_execution_time,  # Average time in seconds
                "ram": ram_usage  # RAM usage in MB
            }
            all_results.append(row)

        # Write results to CSV
        if all_results:
            with open(output_csv, mode="w", encoding="utf-8-sig", newline="") as file:
                writer = csv.DictWriter(file, fieldnames=all_results[0].keys())
                writer.writeheader()
                writer.writerows(all_results)

        print(f"Results with metrics exported to {output_csv}")
    except Exception as e:
        print(f"An error occurred: {e}")
    finally:
        cursor.close()
        connection.close()


# Execute the function
run_queries_and_export_with_metrics(queries, output_csv)

Results with metrics exported to query_results_with_metrics_mysql.csv