In [5]:
# Define inputs
inputs = [
    "What were ADVANC's total assets in Q1 2019?",
    "What were AOT's total liabilities in Q1 2019?",
    "What was BBL's net profit in Q1 2019?",
    "What was BCP's Return on Equity (ROE) in Q1 2019?"
]

In [8]:
# ตัวอย่างการทดสอบด้วย 100 คำถาม
questions_ENG = [
    "What were ADVANC's total assets in Q1 2019?",
    "What were AOT's total liabilities in Q1 2019?",
    "What was BBL's net profit in Q1 2019?",
    "What was BCP's Return on Equity (ROE) in Q1 2019?",
    "What was BDMS's Debt-to-Equity ratio (D/E) in Q1 2019?",
    "What was BEM's total revenue in Q1 2019?",
    "What was BGRIM's net profit in Q1 2019?",
    "What was BH's Net Profit Margin in Q1 2019?",
    "What was BJC's total revenue in Q1 2019?",
    "What were BTS's total expenses in Q1 2019?",
    "What were CBG's total assets in Q1 2019?",
    "What was CENTEL's net profit in Q1 2019?",
    "What was CPALL's Return on Assets (ROA) in Q1 2019?",
    "What were CPF's total expenses in Q1 2019?",
    "What was CPN's Debt-to-Equity ratio (D/E) in Q1 2019?",
    "What was DELTA's Fixed Asset Turnover in Q1 2019?",
    "What was EA's total revenue in Q1 2019?",
    "What was EGCO's net profit in Q1 2019?",
    "What was GLOBAL's total revenue in Q1 2019?",
    "What was GPSC's Return on Equity (ROE) in Q1 2019?",
    "What were GULF's total liabilities in Q1 2019?",
    "What were HMPRO's total expenses in Q1 2019?",
    "What was INTUCH's Net Profit Margin in Q1 2019?",
    "What was IVL's net profit in Q1 2019?",
    "What were KBANK's total assets in Q1 2019?",
    "What was AWC's closing price on September 1, 2023?",
    "What was AOT's market capitalization on September 1, 2023?",
    "What was BDMS's Price-to-Earnings (P/E) ratio on September 1, 2023?",
    "What was BBL's Dividend Yield on September 1, 2023?",
    "What was BGRIM's Total Volume on September 1, 2023?",
    "What was BTS's closing price on September 1, 2023?",
    "What was CPALL's market capitalization on September 1, 2023?",
    "What was BEM's Price-to-Earnings (P/E) ratio on September 1, 2023?",
    "What was DELTA's lowest price on September 1, 2023?",
    "What was BCP's Price-to-Book (P/BV) ratio on September 1, 2023?",
    "What was GPSC's market capitalization on September 1, 2023?",
    "What was TOP's closing price on September 1, 2023?",
    "What was LH's Total Volume on September 1, 2023?",
    "What was KTC's Price-to-Book (P/BV) ratio on September 1, 2023?",
    "What was PTTEP's Price-to-Earnings (P/E) ratio on September 1, 2023?",
    "What was SCC's Dividend Yield on September 1, 2023?",
    "What was GULF's market capitalization on September 1, 2023?",
    "What was CENTEL's closing price on September 1, 2023?",
    "What was IVL's highest price on September 1, 2023?",
    "What was TIDLOR's Price-to-Book (P/BV) ratio on September 1, 2023?",
    "What was ADVANC's closing price on September 1, 2023?",
    "What was CBG's market capitalization on September 1, 2023?",
    "What was AOT's Total Volume on September 1, 2023?",
    "What was CRC's Price-to-Earnings (P/E) ratio on September 1, 2023?",
    "What was PTT's closing price on September 1, 2023?",
    "Compare ADVANC's total assets with AOT's total assets in 2019.",
    "Compare ADVANC's total liabilities with BBL's total liabilities in 2019.",
    "Compare ADVANC's total revenue with CPALL's total revenue in Q3 2021.",
    "Compare ADVANC's total expenses with AOT's total expenses in Q2 2020.",
    "Compare ADVANC's cumulative net profit in 2020 with 2021.",
    "Compare ADVANC's operating cash flow with BBL's in Q1 2021.",
    "Compare ADVANC's Return on Assets (ROA) with AOT's in 2021.",
    "Compare ADVANC's Return on Equity (ROE) in 2019 with 2022.",
    "Compare ADVANC's closing price on September 1, 2023, with September 4, 2023.",
    "Compare ADVANC's PE ratio with CPALL's PE ratio on September 1, 2023.",
    "Compare ADVANC's market capitalization with AOT's on September 1, 2023.",
    "Compare BBL's total assets with AOT's total assets in 2020.",
    "Compare ADVANC's investment cash flow in Q3 2021 with Q4 2021.",
    "Compare ADVANC's Earnings Per Share (EPS) with BBL's in Q1 2020.",
    "Compare ADVANC's Debt-to-Equity (D/E) ratio with CPALL's in 2020.",
    "Compare ADVANC's Total Asset Turnover in 2021 with 2022.",
    "Compare ADVANC's Fixed Asset Turnover with BBL's in 2020.",
    "Compare ADVANC's net profit with AOT's in Q4 2021.",
    "Compare ADVANC's Total Volume with BBL's on September 4, 2023.",
    "Compare ADVANC's highest price with CPALL's on September 1, 2023.",
    "Compare ADVANC's Total Asset Turnover in Q2 2021 with Q4 2021.",
    "Compare AOT's lowest price with BBL's on September 1, 2023.",
    "Compare AOT's closing price with CPALL's on September 4, 2023.",
    "Compare CPALL's market capitalization with ADVANC's on September 4, 2023.",
    "Compare CPALL's Fixed Asset Turnover with AOT's in 2021.",
    "How did ADVANC's total revenue trend change from 2019 to 2021?",
    "How did AOT's total assets change from 2019 to 2021?",
    "How did BBL's cumulative net profit change from 2019 to 2021?",
    "How did BDMS's EPS trend change quarterly in 2019?",
    "How did BGRIM's operating cash flow trend change from 2019 to 2021?",
    "How did BH's EPS growth in 2019?",
    "How did BCP's total expenses change quarterly in 2019?",
    "How did BTS's Total Asset Turnover trend quarterly?",
    "How did CPN's cumulative net profit change from 2019 to 2021?",
    "How did EA's total revenue trend change from 2019 to 2021?",
    "How did ADVANC's Debt-to-Equity (D/E) ratio change quarterly in 2019?",
    "How did BDMS's ROE affect its profitability?",
    "How did BTS's Total Asset Turnover affect profitability in 2019?",
    "How did BCP's Return on Assets (ROA) change in 2019?",
    "How did changes in ADVANC's PE ratio in 2019 affect market capitalization?",
    "How did AOT's Debt-to-Equity (D/E) ratio affect financial risk from 2019 to 2021?",
    "How did changes in BBL's ROA each quarter in 2019 affect asset efficiency?",
    "How did CPF's Debt-to-Equity (D/E) ratio affect financial risk?",
    "How did BDMS's ROE change from 2019 to 2021?",
    "How did BTS's ROE affect shareholder decisions in 2019?",
    "How did BCP's Fixed Asset Turnover affect operating profit?",
    "How did changes in BTS's P/E ratio affect company valuation?",
    "How did AOT's ROE growth attract investors?",
    "How did BEM's rising Debt-to-Equity (D/E) ratio impact financial risk?",
    "How did CPF's ROA affect asset utilization efficiency in 2019?"
]

# Check the length of questions_TH to ensure it includes 100 questions
len(questions_ENG)

100

In [ ]:
# ตัวอย่างการทดสอบด้วย 100 คำถาม
questions_ENG2 = [
    "How did BTS's ROE affect shareholder decisions in 2019?",
    "How did BCP's Fixed Asset Turnover affect operating profit?",
    "How did changes in BTS's P/E ratio affect company valuation?",
    "How did AOT's ROE growth attract investors?",
    "How did BEM's rising Debt-to-Equity (D/E) ratio impact financial risk?",
    "How did CPF's ROA affect asset utilization efficiency in 2019?"
]

# Check the length of questions_TH to ensure it includes 100 questions
len(questions_ENG2)

6

In [3]:
import pandas as pd
import streamlit as st
from bot import handle_submit  # Import the actual chatbot logic

2025-04-02 20:47:48.014 WARNING streamlit.runtime.state.session_state_proxy: Session state does not function when running a script without `streamlit run`
2025-04-02 20:47:49.305
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\china\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [9]:
# Reset session state logs to ensure old data is not retained
st.session_state.query_logs = []

# Collect responses
for idx, user_input in enumerate(questions_ENG, start=1):
    print(f"Processing Input {idx}: {user_input}")
    try:
        # Call chatbot logic to get the response, metadata, and error
        response, metadata, error = handle_submit(user_input)
        print("**response",response)
        print("**metadata",metadata)
        # Log the response and metadata
        st.session_state.query_logs.append({
            "Sequence": idx,
            "Question": user_input,
            "Response": response if response else "Error occurred",
            "Query (SQL)": metadata.get("query", ""),
            "Query Generation Time (s)": round(metadata.get("query_generation_time", 0.0), 6),
            "Database Fetch Time (s)": round(metadata.get("database_fetch_time", 0.0), 8),
            "Response Generation Time (s)": round(metadata.get("response_generation_time", 0.0), 6),
            "Total Time (s)": round(
                metadata.get("query_generation_time", 0.0) +
                metadata.get("database_fetch_time", 0.0) +
                metadata.get("response_generation_time", 0.0),
                6
            ),
            "Error": error if error else "",
        })
    except Exception as e:
        print(f"Error processing input {idx}: {e}")
        # Log error if something goes wrong
        st.session_state.query_logs.append({
            "Sequence": idx,
            "Question": user_input,
            "Response": "Error occurred",
            "Query (SQL)": "",
            "Query Generation Time (s)": 0.0,
            "Database Fetch Time (s)": 0.0,
            "Response Generation Time (s)": 0.0,
            "Total Time (s)": 0.0,
            "Error": str(e),
        })

# Export logs to CSV file if there are any logs
if st.session_state.query_logs:
    logs_df = pd.DataFrame(st.session_state.query_logs)
    logs_df.to_csv("query_logs_Eng_3.csv", index=False, encoding="utf-8-sig")
    print("Logs exported to query_logs.csv")
else:
    print("No logs to export.")

Processing Input 1: What were ADVANC's total assets in Q1 2019?
Raw user input: What were ADVANC's total assets in Q1 2019?


> Entering new AgentExecutor chain...
```
Thought: Is it necessary to use a tool? Yes
Action: Financial Statements
Action Input: ADVANC Q1 2019Error executing query: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Please provide the specific question about ADVANC Q1 2019, and I'll translate it' at line 1
[SQL: Please provide the specific question about ADVANC Q1 2019, and I'll translate it into a SQL query. For example, are you looking for total assets, net profit margin, or something else?]
(Background on this error at: https://sqlalche.me/e/20/f405)
(Empty DataFrame
Columns: []
Index: [], "Please provide the specific question about ADVANC Q1 2019, and I'll translate it into a SQL query. For example, are you looking for total assets, net profit margin, or something else?", 3.3384859561920166, 0.0, "(mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Please provide the specific question about ADVANC Q1 2019, and I'll translate it' at line 1\n[SQL: Please provide the specific question about ADVANC Q1 2019, and I'll translate it into a SQL query. For example, are you looking for total assets, net profit margin, or something else?]\n(Background on this error at: https://sqlalche.me/e/20/f405)")Thought: Is it necessary to use a tool? Yes
Action: Financial Statements
Action Input: What were ADVANC's total assets in Q1 2019?Error executing query: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '`SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM co' at line 1
[SQL: `SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`]
(Background on this error at: https://sqlalche.me/e/20/f405)
(Empty DataFrame
Columns: []
Index: [], "`SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`", 26.174619436264038, 0.0, "(mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '`SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM co' at line 1\n[SQL: `SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`]\n(Background on this error at: https://sqlalche.me/e/20/f405)")Thought: Is it necessary to use a tool? Yes
Action: Financial Statements
Action Input: What were ADVANC's total assets in Q1 2019?(Empty DataFrame
Columns: [total_assets]
Index: [], "SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);", 25.695739030838013, 0.002756834030151367, None)Thought: Is it necessary to use a tool? Yes
Action: Financial Statements
Action Input: What were ADVANC's total assets in Q1 2019?(Empty DataFrame
Columns: [total_assets]
Index: [], "SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);", 25.744131326675415, 0.010833263397216797, None)Thought: Is it necessary to use a tool? Yes
Action: Financial Statements
Action Input: What were ADVANC's total assets in Q1 2019?Error executing query: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '`SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM co' at line 1
[SQL: `SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`]
(Background on this error at: https://sqlalche.me/e/20/f405)
(Empty DataFrame
Columns: []
Index: [], "`SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`", 26.848076581954956, 0.0, "(mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '`SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM co' at line 1\n[SQL: `SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`]\n(Background on this error at: https://sqlalche.me/e/20/f405)")Thought: Is it necessary to use a tool? Yes
Action: Financial Statements
Action Input: What were ADVANC's total assets in Q1 2019?(Empty DataFrame
Columns: [total_assets]
Index: [], "SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);", 25.356066703796387, 0.005414485931396484, None)Thought: Is it necessary to use a tool? Yes
Action: Financial Statements
Action Input: What were ADVANC's total assets in Q1 2019?(Empty DataFrame
Columns: [total_assets]
Index: [], "SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);", 25.793213605880737, 0.006910562515258789, None)Thought: Is it necessary to use a tool? Yes
Action: Financial Statements
Action Input: What were ADVANC's total assets in Q1 2019?(Empty DataFrame
Columns: [total_assets]
Index: [], "SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);", 1.7171800136566162, 0.005719661712646484, None)Thought: Is it necessary to use a tool? Yes
Action: Financial Statements
Action Input: What were ADVANC's total assets in Q1 2019?(Empty DataFrame
Columns: [total_assets]
Index: [], "SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);", 26.513150930404663, 0.007601499557495117, None)Thought: Is it necessary to use a tool? Yes
Action: Financial Statements
Action Input: ADVANC Q1 2019 total assets(Empty DataFrame
Columns: [total_assets]
Index: [], "SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);", 25.515189170837402, 0.008594751358032227, None)Thought: Is it necessary to use a tool? Yes
Action: Financial Statements
Action Input: ADVANC Q1 2019 total assetsError executing query: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '`SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM co' at line 1
[SQL: `SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`]
(Background on this error at: https://sqlalche.me/e/20/f405)
(Empty DataFrame
Columns: []
Index: [], "`SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`", 2.292863607406616, 0.0, "(mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '`SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM co' at line 1\n[SQL: `SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`]\n(Background on this error at: https://sqlalche.me/e/20/f405)")Thought: Is it necessary to use a tool? Yes
Action: Financial Statements
Action Input: ADVANC Q1 2019 total assetsError executing query: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '`SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM co' at line 1
[SQL: `SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`]
(Background on this error at: https://sqlalche.me/e/20/f405)
(Empty DataFrame
Columns: []
Index: [], "`SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`", 25.690414905548096, 0.0, "(mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '`SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM co' at line 1\n[SQL: `SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`]\n(Background on this error at: https://sqlalche.me/e/20/f405)")Thought: Is it necessary to use a tool? Yes
Action: Financial Statements
Action Input: ADVANC Q1 2019 total assets(Empty DataFrame
Columns: [total_assets]
Index: [], "SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);", 1.8844213485717773, 0.00946497917175293, None)Thought: Is it necessary to use a tool? No
Final Answer: Unfortunately, I was unable to retrieve the total assets of ADVANC in Q1 2019. The Financial Statements tool did not return a valid result. Please check if the company symbol or the period is correct.

> Finished chain.
Agent response: {'input': "What were ADVANC's total assets in Q1 2019?", 'chat_history': [], 'query': "SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);", 'query_generation_time': 2.7004482746124268, 'database_fetch_time': 0.004697561264038086, 'sql_error': None, 'output': 'Unfortunately, I was unable to retrieve the total assets of ADVANC in Q1 2019. The Financial Statements tool did not return a valid result. Please check if the company symbol or the period is correct.'}
Response generation time: 440.73947 seconds
**response Unfortunately, I was unable to retrieve the total assets of ADVANC in Q1 2019. The Financial Statements tool did not return a valid result. Please check if the company symbol or the period is correct.
**metadata {'query': "SELECT total_assets FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'ADVANC') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);", 'response': 'Unfortunately, I was unable to retrieve the total assets of ADVANC in Q1 2019. The Financial Statements tool did not return a valid result. Please check if the company symbol or the period is correct.', 'query_generation_time': 2.7004482746124268, 'database_fetch_time': 0.004697561264038086, 'response_generation_time': 440.73946952819824, 'error': None}
Processing Input 2: What were AOT's total liabilities in Q1 2019?
Raw user input: What were AOT's total liabilities in Q1 2019?
Error executing query: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '`SELECT total_liabilities FROM financialmetrics WHERE company_id = (SELECT id FR' at line 1
[SQL: `SELECT total_liabilities FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`]
(Background on this error at: https://sqlalche.me/e/20/f405)


> Entering new AgentExecutor chain...
Thought: Is it necessary to use a tool? Yes
Action: Financial Statements
Action Input: AOT, Q1 2019Error executing query: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Since the question doesn't specify what data to retrieve, I'll assume you want t' at line 1
[SQL: Since the question doesn't specify what data to retrieve, I'll assume you want to retrieve all available data for AOT in Q1 2019. Here are the SQL queries: **Financial Metrics:** `SELECT * FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);` **Financial Ratios:** `SELECT * FROM financialratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);` **Market Data:** `SELECT * FROM marketdata WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);` **Market Ratios:** `SELECT * FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`]
(Background on this error at: https://sqlalche.me/e/20/f405)
(Empty DataFrame
Columns: []
Index: [], "Since the question doesn't specify what data to retrieve, I'll assume you want to retrieve all available data for AOT in Q1 2019. Here are the SQL queries: **Financial Metrics:** `SELECT * FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);` **Financial Ratios:** `SELECT * FROM financialratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);` **Market Data:** `SELECT * FROM marketdata WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);` **Market Ratios:** `SELECT * FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`", 1.8663883209228516, 0.0, "(mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Since the question doesn't specify what data to retrieve, I'll assume you want t' at line 1\n[SQL: Since the question doesn't specify what data to retrieve, I'll assume you want to retrieve all available data for AOT in Q1 2019. Here are the SQL queries: **Financial Metrics:** `SELECT * FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);` **Financial Ratios:** `SELECT * FROM financialratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);` **Market Data:** `SELECT * FROM marketdata WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);` **Market Ratios:** `SELECT * FROM marketratios WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`]\n(Background on this error at: https://sqlalche.me/e/20/f405)")Thought: It seems like there's an error in the previous attempt. Let me try again to retrieve AOT's total liabilities in Q1 2019.

Action: Financial Statements
Action Input: AOT, Q1 2019, liabilitiesError executing query: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '`SELECT total_liabilities FROM financialmetrics WHERE company_id = (SELECT id FR' at line 1
[SQL: `SELECT total_liabilities FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`]
(Background on this error at: https://sqlalche.me/e/20/f405)
(Empty DataFrame
Columns: []
Index: [], "`SELECT total_liabilities FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`", 22.234261512756348, 0.0, "(mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '`SELECT total_liabilities FROM financialmetrics WHERE company_id = (SELECT id FR' at line 1\n[SQL: `SELECT total_liabilities FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`]\n(Background on this error at: https://sqlalche.me/e/20/f405)")It seems like there's an error in the previous attempts. I'll try again to retrieve AOT's total liabilities in Q1 2019.

Action: Financial Statements
Action Input: AOT, Q1 2019, liabilitiesError executing query: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '`SELECT total_liabilities FROM financialmetrics WHERE company_id = (SELECT id FR' at line 1
[SQL: `SELECT total_liabilities FROM financialmetrics WHERE company_id = (SELECT id FROM company WHERE symbol = 'AOT') AND period_id = (SELECT id FROM period WHERE year = 2019 AND quarter = 1);`]
(Background on this error at: https://sqlalche.me/e/20/f405)
(Empty DataFrame
Columns: []

In [ ]:
logs_df

In [ ]:
# Cleaning process
cleaned_data = []

for i in range(0, len(logs_df)-2, 2):
    query_row = logs_df.iloc[i]
    meta_row = logs_df.iloc[i + 1]
    
    cleaned_data.append({
        "Sequence": meta_row["Sequence"],
        "Question": meta_row["Question"],
        "query": query_row["query"],
        "time": query_row["time"],
        "Response": meta_row["Response"],
        "Error": meta_row["Error"]
    })

cleaned_df = pd.DataFrame(cleaned_data)

cleaned_df

In [ ]:
import pandas as pd

# Assuming logs_df is your input DataFrame
# Drop rows where `Sequence` is NaN to remove unnecessary rows
cleaned_df = logs_df.dropna(subset=["Sequence"])

# Keep only relevant columns and rename them
cleaned_df = cleaned_df.rename(columns={
    "Sequence": "Sequence",
    "Question": "Question",
    "query": "query",
    "Response": "Response",
    "time": "time",
    "error": "error"
})

# Fill any remaining NaN values with empty strings or zeros where appropriate
cleaned_df = cleaned_df.fillna({
    "query": "",
    "Response": "",
    "error": "",
    "time": 0.0
})

# Convert the Sequence column to integers
cleaned_df["Sequence"] = cleaned_df["Sequence"].astype(int)

# Reset the index to clean up the DataFrame
cleaned_df = cleaned_df.reset_index(drop=True)

# Save the cleaned DataFrame to a CSV file
cleaned_df.to_csv("cleaned_query_logs.csv", index=False, encoding="utf-8-sig")

# Print the cleaned DataFrame
cleaned_df

In [ ]:
# Export logs to CSV file if there are any logs
if st.session_state.query_logs:
    cleaned_df.to_csv("query_logs.csv", index=False, encoding="utf-8-sig")
    print("Logs exported.")
else:
    print("No logs to export.")

In [ ]:
query	time	ram_used	Sequence	Question	Query	Response	Time	RAM_Used	Error
0	USE financials;\nSELECT symbol, totalAssets \n...	0.003500	0.0	51.0	เปรียบเทียบสินทรัพย์รวมของบริษัท ADVANC กับบริ...		Error occurred	0.0	0.0	'tuple' object has no attribute 'get'
1	USE financials;\nSELECT symbol, totalLiabiliti...	0.001999	0.0	52.0	เปรียบเทียบหนี้สินรวมของบริษัท ADVANC กับบริษั...		Error occurred	0.0	0.0	'tuple' object has no attribute 'get'
2	USE financials;\nSELECT totalRevenueQuarter \n...	0.002683	0.0	53.0	เปรียบเทียบรายได้รวมในไตรมาสของบริษัท ADVANC ก...		Error occurred	0.0	0.0	'tuple' object has no attribute 'get'